.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // set the parrent (section-stories) on position relative
    z-index: -1;
    opacity: .15;

    // if it overflows the content we can use overflow: hidden;

    //put video in the right position
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}