/* header animations */

@keyframes moveInLeft {
    /* initial state */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(2.5rem);
    }
/* final state */
    100%{
        opacity: 1;
        /* 0, because ww want it to look exactly how it looks now */
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /* initial state */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-22.5rem);
    }
/* final state */
    100%{
        opacity: 1;
        /* 0, because ww want it to look exactly how it looks now */
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    /* initial state */
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
/* final state */
    100%{
        opacity: 1;
        /* 0, because ww want it to look exactly how it looks now */
        transform: translate(0);
    }
}